html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	width:100%;
	
}


@font-face {
   font-family: myFont;
   src: url(../fonts/MYRIADPRO-COND.OTF);
}
#wrapper{
	box-sizing: border-box;
	font-size: 13px;
	font-family:myFont;
	font-stretch: expanded;
	letter-spacing: 3px;
}

header{
	position:relative;
}
.blueberry { margin: 0 auto; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;

}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 40px;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.blueberry .pager li.active a span { background: #404040; }

.pager{
	display:none;
}

#topElements{
	float:left;
	position:absolute;
	top:0;
	left:0;
	
	
	
}

#container{
	
	z-index:4;
	
}
#logo{
	width:10%;
	float:left;
	padding-left:15%;

}
#logo img{
	width:100%;

}
.top_menu{
	width:50%;
	float:left;
	padding: 1.5% 0;


}

.menu{
    margin-left: 4%;
	float: left;

	
}
.menu li{
	width:18%;
    font-size: 1rem;
    float: left;
    padding: 1% 1%;
	list-style:none;
	text-align:right;

	
}

.menuLink{
    font-family:Arial;
    text-decoration: none;
    color: #ffffff;
	text-transform: uppercase;

	
}

.menuImg{
	width:10%;
	float:left;
	margin-left: 5%;
	margin-top: 2%;

}

.grouped_elements{
	width: 30%;
	float:left;
	padding-left: 3%;

}
.grouped_elements img{
	width:40%;

}

#overlayMask{

	 background-color: rgba(160,134,173,0.6);
	 width:100%;
	 min-height:12vh;
	 z-index: 1;
	 top:0;
	 left:0;
	
}
.fullContentText{
	
	clear:both;

}
.contentText{
	clear:both;
	text-align:center;
	width:80%;
	margin:7% auto;

	
}

.contentText h1{
	font-family: myFont;
	color:#775ba3;
	font-size: 2rem;
	margin-bottom:2%;
}	

.contentText h2{
	font-family: myFont;
	color:#4b3f55;
	font-size: 1.2rem;
}

.titleBold h2{

	color:#775ba3;
	font-size: 2rem;
	margin-bottom:5%;	
	font-weight:bold;
	text-align:center;
}

.contentText img{
	width:80%;
}

.ContentTextImg{
	border-bottom: 2px #91c5a9 solid;
	border-top: 2px #91c5a9 solid;
	float:left;
	padding-bottom:3%;
	background-color: #fcfcfc;
}
.titleBold{
	
	margin: 8% 10%;
	
}
.gridText{
	width:30%;
	text-align:center;
	font-family: myFont;
	float:left;
	padding:1%;
}
.gridText strong{
	color: #91c5a9;
	font-size:3.8rem;
	font-family: myFont;

}
.gridText p{
	color: #4b3f55;
	font-size: 1rem;
	font-family: myFont;

}
.tripleText{
	float:left;
}
.equipe{
	clear:both;
}

.equipeContainer{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	float: left;
}
.equipeContainer h3{
	font-size:2rem;
	text-align:center;
	color: #7e63a7;
	margin-top: 5%;
	margin-bottom:3%;
}
.descr{
	width:30%;
	float: left;
	margin:1%;
}
.teamImg{
	border-bottom: 2px #91c5a9 solid;
}

.descr h4{
	color:#91c5a9;
	padding-top:2%;
	padding-bottom:2%;
	border-bottom: 2px #91c5a9 solid;
}
.descr p{
	font-size: 1rem;
	padding-bottom:2%;
}

.btn{
	width:50%;
	float:left;
	
}

.icons{
	width:15%;
	margin-left:45%;
	margin-right:45%;
	padding:5%;
}
.FB{
	background-color:#3b5998;
}

.G{
	background-color:#d14333;
}
.Globe{
	background-color:#ea4c88;
}
.tweet{
	background-color:#00aced;
}
.YT{
	background-color:#c70c0c;
}